table{
    background-color: gold;
}
th{
    width: 100px;
    height: 30px;
}
table,td{
    width: 950px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    background-color: white;
}
.black{
    background-color: black;
}