.center{
    text-align: center;
}
body{
    font-size: 20px;
    font-family: Arial;
    table{
        width: 100%;
    }
    table,tr,th,td{
        border: 2px solid black;
        border-collapse: collapse;;
    }
    th{
        background-color: yellow;
    }
    td{
        background-color: #e5e5e2;
    }
}
