.container{
    background-color: gold;
    width: 100%;
}
.color{
    background-color: aquamarine;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

}
.index{
    height: 50px;
    margin-left: 23px;
}